<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>729575765717-fipn96hh48a3fc65bk4fssilb230j7gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729575765717-fipn96hh48a3fc65bk4fssilb230j7gp</string>
	<key>API_KEY</key>
	<string>AIzaSyDWbbjIGVZezHiczmGuY1iH2jdfNRA2R3I</string>
	<key>GCM_SENDER_ID</key>
	<string>729575765717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Arora.splyt</string>
	<key>PROJECT_ID</key>
	<string>splyt-e87dd</string>
	<key>STORAGE_BUCKET</key>
	<string>splyt-e87dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729575765717:ios:d32b5a33783f890d</string>
	<key>DATABASE_URL</key>
	<string>https://splyt-e87dd.firebaseio.com</string>
</dict>
</plist>